[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"
pytest-mock = "*"
pipenv-setup = "*"
flake8 = "*"
v = {editable = true,version = "*"}
pytype = "*"

[packages]
pdf2image = "*"
pdftotext = "*"
anki-lecture-slide-converter = {path = "."}

[requires]
python_version = "3.7"
