[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
pytest = "*"
autopep8 = "*"
pytest-mock = "*"
pipenv-setup = "*"
flake8 = "*"

[packages]
pdf2image = "*"
pdftotext = "*"

[requires]
python_version = "3.7"
